.space{
     &.m20{
        margin: 20px 0px;
    }
    &.m25{
        margin: 25px 0px;
    }
    &.m30{
          margin: 30px 0px;
    }
    &.m35{
          margin: 35px 0px;
    }
    &.m40{
          margin: 40px 0px;
    }
    &.m45{
         margin: 45px 0px;
    }
    &.m50{
          margin: 50px 0px;
    }
}

