/* FOOTER  color espacio y tamaño*/

.footer-p {
    margin: 10px 0px 0px;
    text-align: center;
}


.fter-text1 {

    font-size: 13px;
}

.fter-text2 {

    font-size: 13px;
    color: #8a8a8a;
}

#footer {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 25px 30px;
}

/* FIN FOOTER */

