

input[type=search] {
    background: #fff url("../images/search-icon.png") no-repeat 9px center;
    border: solid 1px #fff;
    padding: 3px 10px 9px 32px;
    width: 0px;
    border-radius: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-top: 2px;
    /*
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
    */
}

input[type=search]:focus {
    width: 186px;
    background-color: #fff;
    border-color: transparent;
    color: #000;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px transparent;
    box-shadow: 0 0 5px transparent;
}


input:-moz-placeholder {
    color: #000;
}

input::-webkit-input-placeholder {
    color: #000;
}