.imagen-mapa {
    border: 1px solid;
}



@media only screen and (min-width: 768px) {
    section.carrusel-esp {
    margin-top: 130px;
}
}


@media only screen and (min-width: 992px) {
    section.carrusel-esp {
    margin-top: 130px;
}
}